body {
  background-color: white;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login > img {
  transform: scale(0.8);
}
.login > p {
  font-size: 2.4rem;
  font-weight: 400;
}
.login-main {
  width: 340px;
}
.login-main > * {
  width: 100%;
}
.login-container form {
  margin-top: 4rem;
  background-color: #f6f8fa;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 5px;
}
.login-container form label {
  font-size: 1.4rem;
  color: rgb(71, 71, 71);
}
.login-container input {
  margin-top: 0.5rem;
}
.login-container .btn-green {
  margin-top: 2rem;
}
.login-container .btn-green:focus{
    box-shadow: 0px 0px 5px #2ca54d;
    background-color: #3cb460;
}
.login-container .login-input {
  padding: .7rem 0.5rem;
  border: 1.5px solid rgb(211, 209, 209);
  border-radius: 5px;
  outline: none;
}
.login-container .login-input:focus {
  border: 1.5px solid #549ef1;
  box-shadow: 0px 0px 5px #549df1;
}
.login-label-password {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-label-password a {
  font-size: 1.1rem;
}
/****/
.login-new-user p {
  color: rgb(71, 71, 71);
}
.login-new-user {
  padding: 2rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f8fa;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 5px;
  font-size: 1.4rem;
}
footer ul {
  margin-top: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
/********/

.login-error-container{
  background-color: #ffece9;
  border: 2px solid #ffd7d4;
  margin-top: 2rem;
  padding:2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.login-error-container button{
  background-color: transparent;
  border:none;
  outline: none;
  cursor: pointer;
}

/*********/
@media (max-wdith: 768px) {
  .login-main .btn-green {
    padding: 1.5rem;
  }
}
@media (max-width: 320px) {
  .login-main {
    padding: 0 2.4rem;
  }
}
