@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*,*:before,*:after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    box-sizing: inherit;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
a,input,button,label,p,h1,h2{
    font-family: 'Roboto Condensed', sans-serif;
}a{
    color:#549df1;
}
a:hover{
    text-decoration: underline;
}
a:hover{
    text-decoration: under;
}
.login{
    padding: 7vh 0;
}
.btn-green{
    padding: 1rem!important;
    background-color: #2ca54d;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn-green:hover{
    background-color: #3cb460;
    box-shadow: 0px 0px 5px #3cb460;
}
